<table class="race-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Distance</th>
      <th>Elevation</th>
      <th>Start location</th>
      <th>(Un)supported / Fixed or free route</th>
    </tr>
  </thead>
  <tbody>
    {% for race in include.races %}
    <tr{% if race.cancelled %} class="cancelled"{% endif %}>
      <td>
        {% if race.link %}
          <a href="{{ race.link }}" target="_blank" rel="noopener">{{ race.name }}</a>
        {% else %}
          {{ race.name }}
        {% endif %}
      </td>
      <td>
        {% if race.start %}
          {{ race.start | date: "%d.%m.%Y" }}
          {% if race.end and race.end != race.start %}
            - {{ race.end | date: "%d.%m.%Y" }}
          {% endif %}
        {% else %}
          TBA
        {% endif %}
      </td>
      <td>{{ race.distance | default: "NA" }}</td>
      <td>{{ race.elevation | default: "NA" }}</td>
      <td>{{ race.start-location | default: "TBA" }}</td>
      <td>
        {% if race.support-mode == 'unsupported' %}🚫{% else %}🤝{% endif %}
        /
        {% if race.route == 'fixed' %}📍{% else %}🗺️{% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>