@use "colors" as colors;

.race-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin: 2rem 0;
  border: 1px solid colors.$gray-200;
  border-radius: 8px;
  overflow: hidden;
  
  thead {
    background: colors.$gray-100;
    color: colors.$gray-900;
    
    th {
      padding: 12px 15px;
      text-align: left;
      font-weight: 600;
      font-size: 0.9em;
      color: colors.$gray-600;
      border-bottom: 1px solid colors.$gray-200;
    }
  }
  
  tbody {
    tr {
      border-bottom: 1px solid colors.$gray-200;
      background: colors.$white;
      
      &:last-child {
        border-bottom: none;
      }
      
      &:hover {
        background-color: colors.$gray-000;
      }
      
      &.cancelled {
        opacity: 0.5;
        background-color: colors.$red-000;
        text-decoration: line-through;
        
        &:hover {
          background-color: colors.$red-100;
        }
      }
      
      &:nth-child(2n):not(.cancelled) {
        background-color: colors.$gray-000;
      }

      &:nth-child(2n):not(.cancelled):hover {
        background-color: colors.$gray-100;
      }
    }
    
    td {
      padding: 12px 15px;
      color: colors.$gray-700;
    }
  }
  
  a {
    color: colors.$blue-500;
    text-decoration: none;
    font-weight: 500;
    
    &:hover {
      text-decoration: underline;
    }
  }
}
